$mfework-black-primary: mat-palette($mat-grey, 700, 300, 900);
$mfework-black-accent: mat-palette($mat-blue-grey, 400);
$mfework-black-warn: mat-palette($mat-red, 500);

$mfework-black-theme: mat-dark-theme(
  $mfework-black-primary,
  $mfework-black-accent,
  $mfework-black-warn
);
