$mfework-primary: mat-palette($mat-indigo, 800, 300, 900);
$mfework-accent: mat-palette($mat-light-blue);
$mfework-warn: mat-palette($mat-pink, 600);

$mfework-theme: mat-light-theme(
  $mfework-primary,
  $mfework-accent,
  $mfework-warn
);
