$mfework-light-primary: mat-palette($mat-grey, 200, 500, 300);
$mfework-light-accent: mat-palette($mat-brown, 200);
$mfework-light-warn: mat-palette($mat-deep-orange, 200);

$mfework-light-theme: mat-light-theme(
  $mfework-light-primary,
  $mfework-light-accent,
  $mfework-light-warn
);
