$mfework-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$mfework-nature-accent: mat-palette($mat-deep-purple, 300);
$mfework-nature-warn: mat-palette($mat-red, 600);

$mfework-nature-theme: mat-light-theme(
  $mfework-nature-primary,
  $mfework-nature-accent,
  $mfework-nature-warn
);
